
<b>ADMIN PAGE</b>

<ul>

<li><p><%= link_to "General Settings", 'bands/admin' %></p></li>


<li><p><a href="http://www.tumblr.com/blog/fureel" target="blank">News Post</a></p></li>


<li><%= link_to "Band Members", '/members/admin' %></li>
<li><%= link_to "Contacts", '/contacts/admin' %></li>
<li><%= link_to "Fans", 'fans/admin' %></li>
<li><%= link_to "Friends", 'friends/admin' %></li>
<li><%= link_to "Music", 'musics/admin' %></li>
<li><%= link_to "Photos", 'pictures/admin' %></li>
<li><%= link_to "Press", 'articles/admin' %></li>
<li><%= link_to "Shows", 'shows/admin' %></li>
<li><%= link_to "Store", 'stores/admin' %></li>
<li><%= link_to "Videos", 'videos/admin' %></li>


</ul>

