<h1>Listing articles</h1>

<table class="admin">
  <tr>
    <th>Date</th>
    <th>City</th>
    <th>Title</th>
    <th>Source</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.date %></td>
    <td><%= article.city %></td>
    <td><%= article.source %></td>
	<% if article.pdf.url.empty? %>
		<td><a href="<%= article.url %>" target="blank"><%= article.title %></a></td>
	<% else %>
		<td><a href="<%= article.pdf.url %>" target="blank"><%= article.title %></a></td>
    <% end %>
	<td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
