<%= form_for(@band) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paypal_view_cart %><br />
    <%= f.text_field :paypal_view_cart %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :instagram %><br />
    <%= f.text_field :instagram %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :band_name %><br />
    <%= f.text_field :band_name %>
  </div>
  <div class="field">
    <%= f.label :tumblr %><br />
    <%= f.text_field :tumblr %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio %>
  </div>
  <div class="field">
    <%= f.label :epk %><br />
    <%= f.text_field :epk %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
