<h1>Discography:</h1>

<table class="admin">
  <tr>
    <th>Title</th>
    <th>Year</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @musics.each do |music| %>
  
  <tr>
    <td><%= music.title %></td>
    <td><%= music.year %></td>	
	
    <td><%= link_to 'Show', music %></td>
    <td><%= link_to 'Edit', edit_music_path(music) %></td>
    <td><%= link_to 'Destroy', music, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music', new_music_path %>
