<!DOCTYPE html>
<html>
<head>
  <title>Fur Eel</title>
  <%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>


<link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="/favicon.gif" type="image/gif" >
<title>Fur Eel - Regina, SK Soul, Funk and Rock 'n' Roll</title>
<meta name="description" content="Fur Eel - Regina's Soul, Rock and Funk Band" />
<meta name="keywords" content="Fur,Eel,Music,Regina,Saskatchewan,Sask,SK,Soul,Rock,Funk,Blues,Justin,Sheppard,Thomas,St.Onge,Travis,Reshaur,James,Belle,Elephant,Summer,Band" />
<meta name="google-site-verification" content="njqpDd48zo388Xiq12nkMLrOBBRRrEMtsOZmjmvyflc" />

    <script type="text/javascript" src="/javascripts/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-embedagram.pack.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#slideshow').embedagram({
            instagram_id: 29549745, 
            thumb_width: 175, 
            limit: 1
        });
    });
    </script>



</head>
<body>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>





<div class="header">
<a href="news.html"><img src="/header.png"  border=0/></a>
</div>

<div class="container">

<div class="content">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</div>

<div class="footer">
<p class="center">
	Fur Eel ©2012 | 
	<% if admin? %>
	    <%= link_to "Admin Page", admin_path %> | 
		<%= link_to "Log Out", logout_path %>
	<% else %>
		<%= link_to "Admin", login_path %>
	<% end %>

</p>
</div>

</div>

<div class = "nav">
<ul class = "nav">
<li class="nav" ><%= link_to image_tag("buttons/news.png", :border=>0), news_path, class: "nav" %></li>
<li class="nav" ><%= link_to image_tag("buttons/music.png", :border=>0), musics_path, class: "nav" %></li>
<li class="nav" ><%= link_to image_tag("buttons/shows.png", :border=>0), shows_path, class: "nav" %></li>
<li class="nav" ><%= link_to image_tag("buttons/photos.png", :border=>0), pictures_path, class: "nav" %></li>

<li class="nav" ><%= link_to image_tag("buttons/videos.png", :border=>0), videos_path, class: "nav" %></li>
<li class="nav" ><%= link_to image_tag("buttons/store.png", :border=>0), stores_path, class: "nav" %></li>

<li class="nav" ><%= link_to image_tag("buttons/press.png", :border=>0), articles_path, class: "nav" %></li>

<li class="nav" ><%= link_to image_tag("buttons/about.png", :border=>0), bands_path, class: "nav" %></li>

<li class="nav" ><%= link_to image_tag("buttons/contact.png", :border=>0), contacts_path, class: "nav" %></li>

</ul>
</div>

<div class = "social">
<div class = "facebook">
<a href="http://www.facebook.com/fureelmusic"><img src="/buttons/facebook.png"  border=0/></a>
<iframe src="http://www.facebook.com/plugins/like.php?app_id=107070462729449&amp;href=www.facebook.com%2Ffureelmusic&amp;send=false&amp;layout=button_count&amp;width=40&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
</div>




<div class = "twitter">
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 30000,
  width: 200,
  height: 100,
  theme: {
    shell: {
      background: 'none',
      color: '#000000'
    },
    tweets: {
      background: 'none',
      color: '#000000',
      links: '#616161'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'all',
	avatars: false
  }
}).render().setUser('fureelmusic').start();
</script>
</div>

<div class = "twitter_header">
	<%= link_to image_tag("buttons/twitter.png", :border=>0, :target=>"_blank"), "http://twitter.com/fureelmusic" %>

</div>

<div class = "instagram_header">
	<%= link_to image_tag("buttons/instagram.png", :border=>0, :target=>"_blank") %>

</div>

<div class="instagram">
	<ul id="slideshow"></ul>
</div>

</div>




</body>
</html>
